/* styling for fonts, color scheme, header and footer */

h1 {
    font-size: 60px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 20px;
}

p, a{
    font-size: 18px;
}

body {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
}

input::placeholder, textarea::placeholder, textarea, input {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
}

hr {
    opacity: 0.1;
    border-width: 0.2px;
    margin: 0;
}

/* ------------------------------------------------------------------- */
/* Header Styling */

#default_header .header_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#default_header .header_logo {
    width: 20%;
    padding: 20px;
}

#default_header .header_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

#default_header .header_links a {
    padding: 10px;
}

#default_header .header_links a:hover {
    opacity: 0.6;
}

#default_header .header_links img {
    width: 20px;
}

/* ------------------------------------------------------------------- */
/* Footer Styling */

#default_footer {
    background-color: rgb(84,84,84);
    color: white;
}

#default_footer .footer_content_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 75px;
}

#default_footer .footer_main_links,
#default_footer .footer_catalogue_links,
#default_footer .footer_contact {
    display: flex;
    flex-direction: column;
}

#default_footer .footer_main_links a, 
#default_footer .footer_catalogue_links a,
#default_footer .footer_follow_us_links a,
#default_footer .footer_contact p,
#default_footer .footer_contact a,
#default_footer .footer_copyright_text a {
    padding: 10px 0;
    margin: 0;
    opacity: 0.6;
    text-decoration: none;
    color: white;
}

#default_footer .footer_main_links a:hover,
#default_footer .footer_catalogue_links a:hover,
#default_footer .footer_follow_us_links a:hover,
#default_footer .footer_copyright_text a:hover,
#default_footer .footer_contact a:hover {
    opacity: 1;
}

#default_footer .footer_follow_us_links img {
    padding: 3px;
    width: 25px;
}

#default_footer .footer_grid_main_links {
    display: grid;
    grid-template-columns: 50% 50%;
}

#default_footer .footer_copyright_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 75px;
}

#default_footer .footer_copyright_text,
#default_footer .footer_call_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#default_footer .footer_copyright_text p {
    opacity: 0.6;
} 