#index_body #index_top_image_section {
    height: 600px;
    background-image: url("../images/embroidery_holder.png");
    background-size: cover;
    position: relative;
}

#index_body .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.4)
}

#index_body .overlay h1 {
    color: white;
    font-family: "Nunito Sans", sans-serif;
    padding: 80px;
}

#index_body #index_about_section h2 {
    font-family: "Nunito Sans", sans-serif;
    padding: 80px;
    text-align: center;
}

#index_body .index_catalogue_wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

#index_body .index_apparel,
#index_body .index_workwear,
#index_body .index_teamwear,
#index_body .index_promotional {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index_body .index_apparel a,
#index_body .index_workwear a,
#index_body .index_teamwear a,
#index_body .index_promotional a {
    font-family: "Nunito Sans", sans-serif;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 24px;
    margin: 20px 0;
}